$line-thickness: 2px;
$board-outer-margins: 10vmin;

@mixin stone-style($color) {
    background-color: $color;
    &:before {
        content:none;
    }
    &:focus, &:hover {
        border-color: transparent;
    }
}

// size board in square shape
.gbn-Goban {
    width: 100vmin;
    height:100vmin;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

// draw board
.gbn-Goban_Board {
    position:absolute;
    display: grid;
    border-color: $kai-dark;
    border-style: solid;
    background-color:$kai-dark;
}
.gbn-Goban_BoardCell {
    padding-top:100%; // ensure width = height
    background-color:#fff;
}

// draw stones
.gbn-Goban_StonesContainer {
    position:absolute;
    display: grid;
    justify-items: center;
    align-items: center;
}

.gbn-Goban_Stone {
    display:block;
    width: unquote("calc(100% - #{$line-thickness})");
    height: unquote("calc(100% - #{$line-thickness})");
    border-radius: 50% 50%;
    border: $line-thickness solid transparent;
    &:hover, &:active, &:focus {
        border-color: $kai-success;
        outline: none;
        cursor: pointer;
    }
    &.gbn-Goban_Stone-star-point {
        position:relative;
        &:before {
            content:'';
            position:absolute;
            left:50%;
            top:50%;
            transform: translate3d(-50%, -50%, 0);
            width: 6 * $line-thickness;
            height: 6 * $line-thickness;
            background-color: $kai-dark;
            border-radius: 50% 50%;
        }
    }
    .gbn-Goban_StonesContainer-next-black &:hover,
    .gbn-Goban_StonesContainer-next-black &:focus,
    .gbn-Goban_StonesContainer-next-black &:active {
        background-color: rgba($kai-black-stone, .5);
    }
    .gbn-Goban_StonesContainer-next-white &:hover,
    .gbn-Goban_StonesContainer-next-white &:focus,
    .gbn-Goban_StonesContainer-next-white &:active {
        background-color: rgba($kai-white-stone, .5);
    }
    // double class to raise specificity against next-<color> styles
    &.gbn-Goban_Stone-white.gbn-Goban_Stone-white {
        @include stone-style($kai-white-stone);
    }
    &.gbn-Goban_Stone-black.gbn-Goban_Stone-black {
        @include stone-style($kai-black-stone);
    }
    &.gbn-Goban_Stone-latest {
        position:relative;
        &:after {
            content:'';
            position:absolute;
            left:50%;
            top:50%;
            transform: translate3d(-50%, -50%, 0);
            width: 50%;
            height: 50%;
            border:$line-thickness solid $kai-accent;
            border-radius: 50% 50%;
        }
    }
    &.gbn-Goban_Stone-forbidden {
        border-color: $kai-danger;
        &:focus, &:hover {
            border-color: $kai-danger;
        }
    }
}