/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body:before {
  content:'';
  position:fixed;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  background: url('/assets/space.jpg') no-repeat transparent;
  background-size: cover;
  background-position: 0 0;
  z-index: -1;

  animation: animatedBackground 720s linear infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}
